
<div >
    <h2>Dados do Usuário</h2>
<table id="customers">
    <tr>
        <th>Nome</th>
        <th>Profissão</th>
    </tr>
    <tr>
        <td>{{users.name}}</td>
        <td>{{users.ocuppation}}</td>
    </tr>
</table>
</div>

<div>
    <h2>Lista de Endereços</h2>
    <table id="customers">
    <tr>
        <th>Nome da Rua</th>
        <th>Número</th>
        <th>Cidade</th>
    </tr>
    {{#each users.Adresses}}
    

        <tr>
            <td>{{this.street}}</td>
            <td>{{this.number}}</td>
            <td>{{this.city}}</td>
        </tr>
        {{/each}}
    </table>

