<<<<<<< HEAD
<h1>Confira nossos produtos:</h1>
{{#each produtos}}
  <div>
    <h3>{{this.produto}}</h3>
    <p>R${{this.preco}}</p>
    <p><a href="/product/{{this.id}}">Ver mais</a></p>
  </div>
=======
<h1>Minha lista de produtos</h1>
{{#each produtos}}
<h1>{{this.tipo}}</h1>
<h1>{{this.preco}}</h1>
<h1><a href="/produtos/{{this.id}}">ver mais....</a></h1>
>>>>>>> 9b24c182397a003f9c7ed5d2894b89e5c84147d7
{{/each}}